<template>
  <div class="wrapper">
    <header>

      <h1 style="text-align:center">Twitter Chat </h1>
      <button style="margin-left:-20px" @click="logout">Logout!<i style="margin-left:10px" class="fas fa-sign-out-alt"></i></button>
    </header>

    <section>
       <main>
        <div v-for="(msg, index) in messages" v-bind:key="'index-'+index"
             :class="['message', sentOrReceived(msg.userUID)]">
          <img :src="msg.photoURL">
             <p  v-if="!msg.text.includes('data:image/')"  >{{ msg.text }}</p>
          <img  style="width:150px; height:150px; border-radius:10px" v-if="msg.text.includes('data:image/')" :src="msg.text" :alt="msg.displayName">
          <div   @click="deleteMessage(msg.message_id)" class=trash> <i class="fa fa-trash"></i> </div>
        </div>

        <div ref="scrollable"></div>
      </main>

      <form v-on:submit.prevent="sendMessage">
  
    <div class="input-box">
      <div class="tweet-area ">


        <textarea v-model="message"  type="text" placeholder="Enter your message!"> </textarea>
        <button :disabled="!message" type="submit">Send</button>

        
      </div>

    </div>
    <div class="bottom">
      <ul class="icons">
   
        <li>  <i  class="far fa-file-image">  </i><input type="file"  @change="onFileChange"></li>
        <li><i class="fas fa-map-marker-alt"></i></li>
        <li><i @click="toogleDialogEmoji" class="far fa-grin"></i></li>

      </ul>
  
    </div>
  <VEmojiPicker
      v-show="showDialog"
      :style="{ width: '450px', height: '20' , background:'#fff',}"
      @select="onSelectEmoji"
    />

</form> 


    </section>
  </div>
</template>

<script>
import firebase from 'firebase'
import { VEmojiPicker } from "v-emoji-picker";


export default {

  name: "exampleInputEmoji",
  components: {
    VEmojiPicker
  },
  mounted() {
    this.db.collection('messages').orderBy('createdAt')
        .onSnapshot(querySnap => {
          this.messages = querySnap.docs.map(doc => doc.data())
        this.messages.forEach((mssg)=>{
          console.log(mssg)
          if(  mssg.text.includes('data:image/')){
               mssg.text= decodeURIComponent(unescape(window.atob(mssg.text)));
          }
       
        })
        })
        
  },


    data: () => ({
      user: firebase.auth().currentUser,
      db: firebase.firestore(),
      message: '',
      messages: [],
    valueInput: "Someting text ",
    showDialog: false
  }),
  methods: {
    logout() {
      firebase.auth().signOut()
    },
    sentOrReceived(userUID) {
      return userUID === this.user.uid ? 'sent' : 'received'
    },
    async sendMessage() {

      const messageInfo = {
        'message_id':this.user.uid+this.messages.length, 
        'userUID': this.user.uid,
        'displayName': this.user.displayName,
        'photoURL': this.user.photoURL,
        'text': this.message,
        'createdAt': Date.now(),
      }


      await this.db.collection('messages').add(messageInfo)
      this.message = ''
      this.$refs['scrollable'].scrollIntoView({ behavior: 'smooth' })
    },


  deleteMessage(messageID){
      if(this.user.role=="admin"){
      var message_query = this.db.collection('messages').where('message_id','==',messageID );
      message_query.get().then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          doc.ref.delete();
        });
      }).catch((error) => {
        console.log("error",error)
        
      }
    );

}else{
    var message_queryUser = this.db.collection('messages').where('message_id','==',messageID ).where('userUID', '==',this.user.uid);
      message_queryUser.get().then(function(querySnapshot) {
        querySnapshot.forEach(function(doc) {
          doc.ref.delete();
        });
      }).catch((error) => {
        console.log("error",error)
        
      }
    );
}


  },

      toogleDialogEmoji() {
      this.showDialog = !this.showDialog;
    },
    onSelectEmoji(emoji) {
      this.message += emoji.data;
    },

     onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      else{
       var reader = new FileReader()

        reader.readAsDataURL(files[0])
        reader.onload = () => {

            this.message=reader.result;
            this.sendMessage()
            this.message=''; 
        };
      }
   
    },
  },



}
</script>

<style lang="scss">



input[type=file]{
    margin-left: -15px;
     width: 15.1px;
    height: 15.1px;
    opacity: 0;
}

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 50vh;


      main {
        padding: 10px;
        height: 45vh;
        margin-top: 5vh ;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
          width: 0.25rem;
        }

        &::-webkit-scrollbar-track {
          background: #1da1f2;
        }

        &::-webkit-scrollbar-thumb {
          background: #d1d1d1;
        }
      }

    }

    button {

      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      padding: 9px 18px;
      outline: none;
      border-radius: 50px;
      font-size: 16px;
      font-weight: 700;
      background: #1da1f2;
      margin-left: 50px;
      transition: background 0.2s ease;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

  

  

    .message {
      display: flex;
      align-items: center;

      &.received {
        p {
          background: #e5e5ea;
          color: #000;
        }
      }

      &.sent {
        flex-direction: row-reverse;

        p {
          color: #fff;
          background: #0b93f6;
          align-self: flex-end;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 15px 5px;
      }

      p {
        max-width: 500px;
        margin-bottom: 12px;
        line-height: 24px;
        padding: 10px 20px;
        border-radius: 25px;
        position: relative;
        color: #fff;
        text-align: center;
      }


    }

    .trash{
     margin:10px; 
     color:  #d1d1d1;
      cursor: pointer;


    }
  

</style>