<template>
  <div class="login-container">
     <button  @click="loginSubmit">Login with Google as user !</button>
     <button @click="loginSubmitAdmin">Login with Google as admin!</button>
  </div>
</template>

<script>
import firebase from 'firebase'



export default {
  methods: {
    loginSubmit() {
      const provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(provider).then(
        (data)=>{
          data.user["role"]="user"
        }
      )
        .catch(console.log)
    },

        loginSubmitAdmin() {
      const provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(provider).then(
        (data)=>{
          data.user["role"]="admin"
        }
      )
        .catch(console.log)
    },

    
  }
}
</script>

<style lang="scss">
  .login-container {
    width: 100%;
    text-align: center;
    padding-top: 50px;

    button {
      width: 50%;
      background-color: #ffffff;
      color: #1da1f2;
      font-weight: bold;
      margin-top:50px;
      font-size: 18pt;
      padding: 20px;
      border-radius: 15px;
      border: none;
      box-shadow: #00000040 0px 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: #a1a1a1;
      }
    }
  }
</style>