<template>
  <div id="app">
    <ChatComp v-if="user"></ChatComp>
    <LoginComp v-else></LoginComp>
  </div>
</template>

<script>
import ChatComp from './components/ChatComp'
import LoginComp from './components/LoginComp'
import firebase from 'firebase'

export default {
  data() {
    return {
      user: firebase.auth().currentUser
    }
  },
  name: 'App',
  components: {
    ChatComp, LoginComp
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://unicons.iconscout.com/release/v3.0.6/css/line.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1da1f2;
}

textarea{
  border-radius: 10px;
  border:  1px solid #e6e6e6;
  height: 35px;
  width: 300px;
}

textarea::placeholder {
 text-align:center ;
}
textarea:focus {
    outline: none !important;

  }

.wrapper{
  background: #fff;

  border-radius: 15px;
  padding: 25px 25px 15px 25px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.input-box{
  padding-top: 10px;

   border-top: 1px solid #e6e6e6;
}
.input-box .tweet-area{
  position: relative;
  margin-bottom:10px; 
}


.icons{
  display: inline-flex;
}
.icons li{
  list-style: none;
  color: #1da1f2;
  font-size: 20px;
  margin: 0 2px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s ease;
}


</style>